$fontFamily:  'Roboto', sans-serif;
$baseColor : #777777; 
$baseColorHover : #ff5252; 
$ctextColor : #242424; 
$titleSize : 1.2em;
$bodyBackground : #fff;
$bodyFontSize : 14px;
$container : 960px;
$minContainer : 320px;

/*buttons*/
$buttonHeight: 40px;
$buttonColor : rgb(138, 0, 78);
$buttonColorHover : #a4025e;
$buttonText : #fff;

/*colors*/
$activeColor : #b53c3c; 
$activeLightColor : #ff8686; 