<div class="about section">
	<div class="container">
		<div class="mainheading">artcom – Кто мы?</div>
		<div class="row">
			<div class="about-image col-sm-6 text-center">
				<img src="img/about-img.jpg" alt="">
			</div>
			<div class="about-text col-sm-6">
				<p>Мы - компания, которая предлагает не просто создание и продвижение сайтов. В первую очередь мы работаем с людьми и стремимся сделать эту работу комфортной для своих клиентов.</p>
				<p>Мы предлагаем нашим заказчикам полный комплекс услуг по
				разработке, продвижению и поддержке веб-сайтов. Предоставляем услуги по разработке фирменного стиля, логотипов, баннеров.</p>
				<p>В компании разработана и внедрена система управления внутренними процессами, позволяющая разделить направления на уровне
				бизнес-процесов и обеспечить максимально полное и качественное
				управление всеми этапами разработки... </p>
				<a href="#">Читать больше <i class="fa fa-angle-right" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
</div>