<div class="advantages section" id="advantages">
	<div class="container">
		<div class="mainheading">Некоторые факты</div>
		<div class="row">
			<div class="advantages-item col-sm-3">
				<div class="advantages-item-number timer" data-from="1" data-to="135">1</div>
				<p>Готовых проектов</p>
				<div class="advantages-item-image">
					<img src="img/icon-plane.png" alt="">
				</div>
			</div>
			<div class="advantages-item col-sm-3">
				<div class="advantages-item-number timer" data-from="1" data-to="23">1</div>
				<p>Награды</p>
				<div class="advantages-item-image">
					<img src="img/icon-reward.png" alt="">
				</div>
			</div>
			<div class="advantages-item col-sm-3">
				<div class="advantages-item-number timer" data-from="1" data-to="3685">1</div>
				<p>Сьеденных печенек</p>
				<div class="advantages-item-image">
					<img src="img/icon-cookie.png" alt="">
				</div>
			</div>
			<div class="advantages-item col-sm-3">
				<div class="advantages-item-number timer" data-from="1" data-to="92">92</div>
				<p>Побитые клавиатуры</p>
				<div class="advantages-item-image">
					<img src="img/icon-keyboard.png" alt="">
				</div>
			</div>
		</div>
	</div>
</div>