.preview{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 490px;
	position: relative;

	&-text{
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		top: 53.3%;
		transform: translateY(-50%);
		font-size: 62px;
		color: #fff;
		text-transform: uppercase;
		line-height: 1.161;
		text-align: left;
		font-weight: 100;
		overflow: hidden;

		em{
			font-weight: normal;
			display: block;
		}
		@media (max-width: 520px) {
			font-size: 52px;
		}
		@media (max-width: 440px) {
			font-size: 40px;
		}
	}
}